<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p>Full stack <em> Ruby on Rails</em> is my passion. Full stack web and web application development is a beginning and an end for me. I hope to learn and contribute as much in this journey as I did in my last.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
          
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.linkedin.com/in/jamescross/" target="_blank"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/jcross2774" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/james.cross.777363" target="_blank"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/jcross2774" target="_blank"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.instagram.com/jcross2774/" target="_blank"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>